<div class="steps-background">
    <div class="steps-container">
        <div class="step-logo">
            <div class="step-label"> <img src="assets/card-title.png" alt="Card Title" class="card-title" />الموعداختيار</div>
        </div>
        <div class="step">
            <div class="step-circle completed"></div>
            <div class="step-label">تحديد زيارة</div>
        </div>
        <div class="step-line"></div>
        <div class="step">
            <div class="step-circle completed"></div>
            <div class="step-label">نوع الخدمة</div>
        </div>
        <div class="step-line"></div>
        <div class="step">
            <img src="assets/logo.png" alt="SCE Logo" class="logo">
            <div class="step-circle active">3</div>
            <div class="step-label active">تسجيل الدخول</div>
        </div>

    </div>
    <div class="extra-container"></div>
</div>

<div class="container">
    <mat-card class="schedule-card">
        <mat-card-header>
            <mat-card-title class="card-title-container">
                <span>الخطوة الثالثة قم باختيار الموعد المناسب ؟</span>
                <img src="assets/card-title.png" alt="SCE Logo" class="card-title-logo">
            </mat-card-title>
        </mat-card-header>
        <div class="days-container">
            <div class="days-header">
              <div *ngFor="let day of days" class="day-name" [ngClass]="{'active': selectedDay === day.name}"
                (click)="selectDay(day.name)">
                {{day.name}}
              </div>
            </div>
            <div class="days-grid">
              <div *ngFor="let day of days" class="day-column" [ngClass]="{'active-column': selectedDay === day.name}">
                <div *ngFor="let slot of day.slots; let i = index" class="time-slot" [ngClass]="{'available-slot': slot.available, 'unavailable-slot': !slot.available}">
                  <ng-container *ngIf="slot.available">
                      <div class="slot-text">
                      <div style="display: flex; flex-direction: row;align-items: center;">
                        <mat-radio-button [id]="'timeSlot-' + day.name + '-' + slot.id" name="timeSlot-{{day.name}}" [value]="slot">
                        </mat-radio-button>
                      <span class="time">{{ slot.time }}</span>
                      </div>
                      <span class="status available">متاح</span>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="!slot.available">
                    <div class="slot-text">
                      <span class="time unavailable">{{ slot.time }}</span>
                      <span class="status not-available">غير متاح</span>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          <mat-card-actions class="card-actions">
            <button class="previous-btn"><mat-icon>keyboard_backspace</mat-icon>الخطوة السابقة</button>
            <button class="submit-btn">تقديم الطلب <mat-icon>keyboard_backspace</mat-icon></button>
          </mat-card-actions>
    </mat-card>
</div>