.services {
    text-align: center;
    padding: 50px 20px;
    background-color: #ffffff;
    direction: rtl;
  }
  
  .service-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  mat-card {
    width: 300px;
  }
  